
@{
    ViewBag.Title = "IframeTemplate";
}

<h2>IframeTemplate</h2>

<iframe src="@ViewBag.Message" height="830px" width="1137px"></iframe>

<a href="@ViewBag.Message">Go to Site (Leave Portal)</a>

